.topArrangement {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.buttonULI {
  margin-right: 30px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.panelDiv {
  background-color: lightgrey;
  border-radius: 30px;
}
